<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>template</title>
    </head>

    <body>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>

        <script type="text/template" id="search_template">
            <label><%= search_label %>:</label>
            <input type="text" id="search_input" />
            <input type="button" id="search_button" value="Search" />
        </script>

        <div id="search_container"></div>

        <script type="text/javascript">
        	SearchView = Backbone.View.extend({
        		initialize: function() {
        			this.render();
        		},
                render: function() {
                    var variables = { search_label: "My Search"};
                    var template = _.template($("#search_template").html(), variables);
                    this.$el.html(template);
                },
                events: {
                    "click input[type=button]": "doSearch"
                },
                doSearch: function(event) {
                    alert("Search for " + $("#search_input").val());
                }
        	});

        	var search_view = new SearchView({ el: $("#search_container" )});
        </script>
    </body>
</html>
